<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ligi.fast"
    android:versionCode="15"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />
  	
  	<supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    
  	<uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
  	
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>